<template>
	<div id="page">
		<div id="accueil" :style="{'background-image': 'url(./static/img/fond.png)'}">
			<div id="langues">
				<span class="bouton" role="button" :tabindex="definirTabIndex()" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
				<span class="bouton" role="button" :tabindex="definirTabIndex()" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
				<span class="bouton" role="button" :tabindex="definirTabIndex()" :class="{'selectionne': $parent.$parent.langue === 'de'}" @click="modifierLangue('de')" @keydown.enter="modifierLangue('de')">DE</span>
				<span class="bouton" role="button" :tabindex="definirTabIndex()" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
			</div>
			<div id="conteneur">
				<div id="contenu">
					<h1>
						<span>Digirecord</span> <span>by La Digitale</span>
					</h1>
					<div>
						<p v-html="$t('slogan')" />
						<div id="actions">
							<span class="bouton" role="button" :tabindex="definirTabIndex()" @click="enregistrerAudio" @keydown.enter="enregistrerAudio">{{ $t('enregistrer') }}</span>
							<label for="champ-audio" class="bouton" role="button" :tabindex="definirTabIndex()" @keydown.enter="activerInput('champ-audio')">{{ $t('televerser') }}</label>
							<input id="champ-audio" type="file" accept=".mp3" style="display: none;" @change="ajouterFichierAudio">
						</div>
					</div>
				</div>
				<div id="credits">
					<p><a href="https://opencollective.com/ladigitale" target="_blank" rel="noreferrer">{{ $t('soutien') }}</a></p>
					<p>{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a> - <a href="https://codeberg.org/ladigitale/digirecord" target="_blank" rel="noreferrer">{{ $t('codeSource') }}</a> - <a href="https://codeberg.org/ladigitale/digirecord/releases" target="_blank" rel="noreferrer">v{{ version }}</a> - <span class="hub" role="button" :tabindex="definirTabIndex()" @click="ouvrirHub" @keydown.enter="ouvrirHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#001d1d" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg></span></p>
				</div>
			</div>
		</div>
		<div class="conteneur-modale" v-if="modale === 'ajouter-audio'">
			<div id="modale-enregistrement" class="modale" :class="{'transcodage': transcodage}" role="dialog">
				<header v-if="!transcodage">
					<span class="titre">{{ titreModale }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="!transcodage">
						<div id="enregistrement" v-if="audio === ''">
							<canvas id="visualisation" width="460" height="60" />
							<div class="enregistrement">
								<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'stopper': !pause}" @click="arreterEnregistrementAudio" @keydown.enter="arreterEnregistrementAudio"><i class="material-icons">stop</i></span>
								<span class="bouton " role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="mettreEnPauseEnregistrementAudio" @keydown.enter="mettreEnPauseEnregistrementAudio" v-if="!pause"><i class="material-icons">pause</i></span>
								<span class="bouton " role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="reprendreEnregistrementAudio" @keydown.enter="reprendreEnregistrementAudio" v-else><i class="material-icons">play_arrow</i></span>
								<span class="duree">{{ dureeEnregistrement }}</span>
							</div>
						</div>
						<template v-else>
							<audio controls playsinline><source :src="audio"></audio>
							<template v-if="optionsEnregistrer">
								<div class="avertissement" v-if="type === 'fichier'">{{ $t('avertissement') }}</div>
								<label for="nom-enregistrement">{{ $t('nomEnregistrement') }}</label>
								<input id="nom-enregistrement" type="text" :value="nom" @input="nom = $event.target.value">
								<label for="question-secrete">{{ $t('questionSecrete') }}</label>
								<select id="question-secrete" :value="question" @change="question = $event.target.value">
									<option value="" selected>-</option>
									<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
								</select>
								<label for="reponse-secrete">{{ $t('reponseSecreteEdition') }}</label>
								<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="televerser">
							</template>
							<div class="actions enregistrement-audio" v-if="!optionsEnregistrer">
								<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="telecharger" @keydown.enter="telecharger">{{ $t('telecharger') }}</span>
								<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="afficherOptionsEnregistrer" @keydown.enter="afficherOptionsEnregistrer">{{ $t('enregistrerEtPartager') }}</span>
							</div>
							<div class="actions" v-if="!optionsEnregistrer">
								<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="refaire" @keydown.enter="refaire">{{ $t('refaire') }}</span>
								<span class="bouton gris" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('fermer') }}</span>
							</div>
							<div class="actions" v-else>
								<span class="bouton gris" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="optionsEnregistrer = false" @keydown.enter="optionsEnregistrer = false">{{ $t('annuler') }}</span>
								<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="televerser" @keydown.enter="televerser">{{ $t('valider') }}</span>
							</div>
						</template>
					</div>
					<div class="contenu" v-else>
						<div class="conteneur-chargement">
							<div class="chargement" />
						</div>
						<span class="patienter">{{ $t('transcodage') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div id="hub" :class="{'ouvert': hub}" :tabindex="hub ? 0 : -1">
			<span role="button" :tabindex="hub ? 0 : -1" @click="fermerHub" @keydown.enter="fermerHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></span>
			<iframe src="https://ladigitale.dev/hub.html" title="Le Hub by La Digitale"></iframe>
		</div>
	</div>
</template>

<script>
import { saveAs } from 'file-saver'
import lamejs from 'lamejs'

export default {
	name: 'Accueil-Digirecord',
	data () {
		return {
			modale: '',
			titreModale: '',
			nom: '',
			question: '',
			questions: ['motPrefere', 'filmPrefere', 'chansonPreferee', 'prenomMere', 'prenomPere', 'nomRue', 'nomEmployeur', 'nomAnimal'],
			reponse: '',
			audio: '',
			blob: '',
			type: '',
			transcodage: false,
			mediaRecorder: '',
			flux: [],
			contexte: '',
			lecture: false,
			intervalle: '',
			pause: false,
			delta: '',
			dureeEnregistrement: '00 : 00',
			progression: 0,
			optionsEnregistrer: false,
			elementPrecedent: null,
			hub: false,
			version: app_version
		}
	},
	created () {
		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digirecord_lang', langue)
		}
	},
	mounted () {
		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digirecord_lang')) {
			this.$parent.$parent.langue = localStorage.getItem('digirecord_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)

		setTimeout(function () {
			this.$parent.$parent.chargement = false
		}.bind(this), 300)

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.modale !== '' && document.querySelector('#enregistrement') && document.querySelector('#visualisation')) {
				this.$nextTick(function () {
					const largeur = document.querySelector('#enregistrement').offsetWidth
					const canvas = document.querySelector('#visualisation')
					canvas.width = largeur
				})
			}
		}.bind(this))
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.split('#')[0]
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digirecord_lang', langue)
		},
		definirTabIndex () {
			return this.modale === '' && this.$parent.$parent.message === '' && !this.hub ? 0 : -1
		},
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		async telecharger () {
			this.transcodage = true
			const blob = await this.blobEnMp3()
			this.transcodage = false
			saveAs(blob, 'enregistrement_' + new Date().getTime() + '.mp3')
		},
		refaire () {
			this.audio = ''
			this.enregistrerAudio()
		},
		ajouterFichierAudio (event) {
			const fichier = event.target.files[0]
			const extension = fichier.name.substring(fichier.name.lastIndexOf('.') + 1).toLowerCase()
			if (fichier !== '' && extension === 'mp3' && fichier.size < 4096000) {
				this.elementPrecedent = (document.activeElement || document.body)
				this.modale = 'ajouter-audio'
				this.titreModale = this.$t('votreFichierAudio')
				this.blob = fichier
				this.audio = window.URL.createObjectURL(fichier)
				this.type = 'fichier'
				this.optionsEnregistrer = true
				event.target.value = ''
				this.$nextTick(function () {
					document.querySelector('#modale-enregistrement .fermer').focus()
				})
			} else if (extension !== 'mp3') {
				event.target.value = ''
				this.$parent.$parent.message = this.$t('fichiersMP3Acceptes')
			} else if (fichier.size > 4096000) {
				event.target.value = ''
				this.$parent.$parent.message = this.$t('limite4Mo')
			}
		},
		async televerser () {
			if (this.nom !== '' && this.question !== '' && this.reponse !== '') {
				let blob
				if (this.type === 'enregistrement') {
					this.transcodage = true
					blob = await this.blobEnMp3()
				} else {
					blob = this.blob
				}
				const formData = new FormData()
				formData.append('nom', this.nom)
				formData.append('question', this.question)
				formData.append('reponse', this.reponse)
				formData.append('blob', blob, 'enregistrement.mp3')
				this.fermerModale()
				this.$parent.$parent.chargement = true
				let xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.progression = 0
						if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurTeleversement')
						} else {
							window.location.href = this.definirRacine() + '#/r/' + xhr.responseText
						}
					} else {
						this.$parent.$parent.chargement = false
						this.progression = 0
						this.$parent.$parent.message = this.$t('erreurTeleversement')
					}
				}.bind(this)
				xhr.upload.onprogress = function (e) {
					if (e.lengthComputable) {
						const pourcentage = (e.loaded / e.total) * 100
						this.progression = Math.round(pourcentage)
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/televerser_audio.php', true)
				xhr.send(formData)
			} else if (this.nom === '') {
				this.$parent.$parent.message = this.$t('remplirTitre')
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecrete')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('remplirReponseSecrete')
			}
		},
		blobEnMp3 () {
			return new Promise(function (resolve) {
				const audioContext = new AudioContext()
				const fileReader = new FileReader()
				fileReader.onloadend = function () {
					const arrayBuffer = fileReader.result
					audioContext.decodeAudioData(arrayBuffer, function (audioBuffer) {
						resolve(this.transcoder(audioBuffer))
					}.bind(this))
				}.bind(this)
				fileReader.readAsArrayBuffer(this.blob)
			}.bind(this))
		},
		enregistrerAudio () {
			if (!navigator.mediaDevices || !navigator.mediaDevices?.enumerateDevices) {
				this.$parent.$parent.message = this.$t('enregistrementNonSupporte')
			} else {
				this.elementPrecedent = (document.activeElement || document.body)
				this.modale = 'ajouter-audio'
				this.titreModale = this.$t('enregistrementEnCours')
				this.$nextTick(function () {
					document.querySelector('#modale-enregistrement .fermer').focus()
				})
				setTimeout(function () {
					navigator.mediaDevices.enumerateDevices().then(function (devices) {
						let entreeAudio = false
						for (const device of devices) {
							if (device.kind === 'audioinput') {
								entreeAudio = true
								break
							}
						}
						if (entreeAudio === true) {
							if (!navigator.mediaDevices?.getUserMedia) {
								this.$parent.$parent.message = this.$t('enregistrementNonSupporte')
							} else {
								navigator.mediaDevices.getUserMedia({ audio: true }).then(function (flux) {
									this.mediaRecorder = new MediaRecorder(flux)
									this.mediaRecorder.start()
									this.visualiser(flux)
									const temps = Date.now()
									this.intervalle = setInterval(function () {
										this.delta = Date.now() - temps
										let secondes = Math.floor((this.delta / 1000) % 60)
										let minutes = Math.floor((this.delta / 1000 / 60) << 0)
										if (secondes < 10) {
											secondes = '0' + secondes
										}
										if (minutes < 10) {
											minutes = '0' + minutes
										}
										this.dureeEnregistrement = minutes + ' : ' + secondes
										if (this.dureeEnregistrement === '02 : 00') {
											this.arreterEnregistrementAudio()
										}
									}.bind(this), 100)
									this.mediaRecorder.onstop = function () {
										if (this.flux.length > 0) {
											this.titreModale = this.$t('votreEnregistrementAudio')
											this.blob = new Blob(this.flux, { 'type': 'audio/mpeg' })
											this.audio = window.URL.createObjectURL(this.blob)
											this.type = 'enregistrement'
											this.mediaRecorder = ''
											this.flux = []
											this.contexte = ''
											this.delta = ''
											this.dureeEnregistrement = '00 : 00'
											this.pause = false
											if (this.intervalle !== '') {
												clearInterval(this.intervalle)
												this.intervalle = ''
											}
											setTimeout(function () {
												document.querySelector('#modale-enregistrement audio').focus()
											}, 10)
										}
									}.bind(this)
									this.mediaRecorder.ondataavailable = function (e) {
										this.flux.push(e.data)
									}.bind(this)
								}.bind(this)).catch(function () {
									this.mediaRecorder = ''
									this.flux = []
									this.contexte = ''
									this.$parent.$parent.message = this.$t('erreurMicro')
								}.bind(this))
							}
						} else {
							this.$parent.$parent.message = this.$t('aucuneEntreeAudio')
						}
					}.bind(this))
				}.bind(this), 200)
			}
		},
		mettreEnPauseEnregistrementAudio () {
			if (this.intervalle !== '') {
				clearInterval(this.intervalle)
				this.intervalle = ''
			}
			this.mediaRecorder.pause()
			this.pause = true
			this.titreModale = this.$t('enregistrementEnPause')
			this.$nextTick(function () {
				document.querySelector('#enregistrement .enregistrement .bouton:nth-child(2)').focus()
			})
		},
		reprendreEnregistrementAudio () {
			let temps = Date.now()
			temps = temps - this.delta
			this.intervalle = setInterval(function () {
				this.delta = Date.now() - temps
				let secondes = Math.floor((this.delta / 1000) % 60)
				let minutes = Math.floor((this.delta / 1000 / 60) << 0)
				if (secondes < 10) {
					secondes = '0' + secondes
				}
				if (minutes < 10) {
					minutes = '0' + minutes
				}
				this.dureeEnregistrement = minutes + ' : ' + secondes
				if (this.dureeEnregistrement === '02 : 00') {
					this.arreterEnregistrementAudio()
				}
			}.bind(this), 100)
			this.mediaRecorder.resume()
			this.pause = false
			this.titreModale = this.$t('enregistrementEnCours')
			this.$nextTick(function () {
				document.querySelector('#enregistrement .enregistrement .bouton:nth-child(2)').focus()
			})
		},
		arreterEnregistrementAudio () {
			this.mediaRecorder.stop()
		},
		afficherOptionsEnregistrer () {
			this.optionsEnregistrer = true
			this.$nextTick(function () {
				document.querySelector('#modale-enregistrement input').focus()
			})
		},
		transcoder (aBuffer) {
			let numOfChan = aBuffer.numberOfChannels, btwLength = aBuffer.length * numOfChan * 2 + 44, btwArrBuff = new ArrayBuffer(btwLength), btwView = new DataView(btwArrBuff), btwChnls = [], btwIndex, btwSample, btwOffset = 0, btwPos = 0
			setUint32(0x46464952)
			setUint32(btwLength - 8)
			setUint32(0x45564157)
			setUint32(0x20746d66)
			setUint32(16)
			setUint16(1)
			setUint16(numOfChan)
			setUint32(aBuffer.sampleRate)
			setUint32(aBuffer.sampleRate * 2 * numOfChan)
			setUint16(numOfChan * 2)
			setUint16(16)
			setUint32(0x61746164)
			setUint32(btwLength - btwPos - 4)
			for (btwIndex = 0; btwIndex < aBuffer.numberOfChannels; btwIndex++) {
				btwChnls.push(aBuffer.getChannelData(btwIndex))
			}
			while (btwPos < btwLength) {
				for (btwIndex = 0; btwIndex < numOfChan; btwIndex++) {
					btwSample = Math.max(-1, Math.min(1, btwChnls[btwIndex][btwOffset]))
					btwSample = (0.5 + btwSample < 0 ? btwSample * 32768 : btwSample * 32767) | 0
					btwView.setInt16(btwPos, btwSample, true)
					btwPos += 2
				}
				btwOffset++
			}
			let wavHdr = lamejs.WavHeader.readHeader(new DataView(btwArrBuff))
			let data = new Int16Array(btwArrBuff, wavHdr.dataOffset, wavHdr.dataLen / 2)
			let leftData = []
			let rightData = []
			for (let i = 0; i < data.length; i += 2) {
				leftData.push(data[i])
				rightData.push(data[i + 1])
			}
			const left = new Int16Array(leftData)
			const right = new Int16Array(rightData)
			let blob
			if (wavHdr.channels === 2) {
				blob = wavToMp3(wavHdr.channels, wavHdr.sampleRate, left, right)
			} else if (wavHdr.channels === 1) {
				blob = wavToMp3(wavHdr.channels, wavHdr.sampleRate, data)
			}
			return blob

			function setUint16 (data) {
				btwView.setUint16(btwPos, data, true)
				btwPos += 2
			}

			function setUint32 (data) {
				btwView.setUint32(btwPos, data, true)
				btwPos += 4
			}

			function wavToMp3 (channels, sampleRate, left, right = null) {
				const buffer = []
				const mp3enc = new lamejs.Mp3Encoder(channels, sampleRate, 128)
				let remaining = left.length
				const samplesPerFrame = 1152
				for (var i = 0; remaining >= samplesPerFrame; i += samplesPerFrame) {
					let mp3buf
					if (!right) {
						const mono = left.subarray(i, i + samplesPerFrame)
						mp3buf = mp3enc.encodeBuffer(mono);
					} else {
						const leftChunk = left.subarray(i, i + samplesPerFrame)
						const rightChunk = right.subarray(i, i + samplesPerFrame)
						mp3buf = mp3enc.encodeBuffer(leftChunk, rightChunk)
					}
					if (mp3buf.length > 0) {
						buffer.push(new Int8Array(mp3buf))
					}
					remaining -= samplesPerFrame
				}
				var d = mp3enc.flush()
				if (d.length > 0) {
					buffer.push(new Int8Array(d))
				}
				return new Blob(buffer, { type: 'audio/mpeg' })
			}
		},
		visualiser (flux) {
			if (!this.contexte) {
				this.contexte = new AudioContext()
			}
			const source = this.contexte.createMediaStreamSource(flux)
			const analyser = this.contexte.createAnalyser()
			analyser.fftSize = 2048
			const bufferLength = analyser.frequencyBinCount
			const dataArray = new Uint8Array(bufferLength)
			source.connect(analyser)

			this.$nextTick(function () {
				draw()
			})

			function draw () {
				if (document.querySelector('#visualisation')) {
					const canvas = document.querySelector('#visualisation')
					const canvasCtx = canvas.getContext('2d')
					const largeur = document.querySelector('#enregistrement').offsetWidth
					const hauteur = canvas.height
					canvas.width = largeur
					requestAnimationFrame(draw)
					analyser.getByteTimeDomainData(dataArray)

					canvasCtx.fillStyle = '#eeeeee'
					canvasCtx.fillRect(0, 0, largeur, hauteur)
					canvasCtx.lineWidth = 2
					canvasCtx.strokeStyle = '#000000'
					canvasCtx.beginPath()

					let sliceWidth = largeur * 1.0 / bufferLength
					let x = 0

					for (let i = 0; i < bufferLength; i++) {
						let v = dataArray[i] / 128.0
						let y = v * hauteur / 2
						if (i === 0) {
							canvasCtx.moveTo(x, y)
						} else {
							canvasCtx.lineTo(x, y)
						}
						x += sliceWidth
					}
					canvasCtx.lineTo(canvas.width, canvas.height / 2)
					canvasCtx.stroke()
				}
			}
		},
		fermerModale () {
			this.modale = ''
			this.titreModale = ''
			this.optionsEnregistrer = false
			this.nom = ''
			this.question = ''
			this.reponse = ''
			this.audio = ''
			this.blob = ''
			this.type = ''
			this.mediaRecorder = ''
			this.flux = []
			this.contexte = ''
			this.delta = ''
			this.dureeEnregistrement = '00 : 00'
			this.pause = false
			if (this.intervalle !== '') {
				clearInterval(this.intervalle)
				this.intervalle = ''
			}
			this.transcodage = false
			this.gererFocus()
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale !== '' && !this.transcodage) {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.hub) {
				this.hub = false
				this.gererFocus()
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		ouvrirHub () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.hub = true
			this.$nextTick(function () {
				document.querySelector('#hub span').focus()
			})
		},
		fermerHub () {
			this.hub = false
			this.gererFocus()
		}
	}
}
</script>

<style scoped>
#page,
#accueil {
	width: 100%;
	height: 100vh;
}

#accueil {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#langues {
	position: fixed;
	display: flex;
	top: 10px;
	right: 5px;
	z-index: 10;
}

#langues span {
    display: flex;
    justify-content: center;
	align-items: center;
	font-size: 14px;
    width: 30px;
	height: 30px;
	background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 10px;
	cursor: pointer;
	user-select: none;
}

#langues span.selectionne {
    background: #242f3d;
    color: #fff;
    border: 1px solid #222;
    cursor: default;
}

#conteneur {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

#contenu {
	max-width: 76em;
	text-align: center;
	padding: 12em 1em 6em;
	margin: auto;
}

#conteneur h1 {
    font-family: 'Mona Sans Expanded', sans-serif;
    font-size: 3em;
    margin-bottom: 0.85em;
    line-height: 1.4;
}

#conteneur p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1.5em;
}

#credits {
	width: 100%;
	margin: 0 auto 0.75em;
}

#credits p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

#credits p:last-child a {
	margin: 0 5px;
}

#credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
	z-index: 100000;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

#modale-enregistrement {
	max-width: 500px;
}

#modale-enregistrement.transcodage {
	max-width: 350px;
}

#modale-enregistrement.transcodage .conteneur {
	height: 100%;
}

#modale-enregistrement .contenu {
	text-align: center;
}

#modale-enregistrement audio + .avertissement,
#modale-enregistrement audio + label,
#modale-enregistrement .actions {
	margin-top: 20px;
}

#modale-enregistrement .avertissement {
	font-size: 14px;
	text-align: left;
	margin-bottom: 20px;
}

#enregistrement .enregistrement {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#enregistrement .enregistrement .duree {
	font-size: 30px;
	font-weight: 500;
	margin-left: 25px;
}

#enregistrement .enregistrement .bouton {
	background-color: #fff;
	border-color: #001d1d;
	border-width: 1px;
	border-radius: 0;
	line-height: 1;
	height: auto;
	padding: 10px;
}

#enregistrement .enregistrement .bouton:hover {
	color: #001d1d;
   background-color: #eee;
}

#enregistrement .enregistrement .bouton i {
	font-size: 48px;
	line-height: 1;
	margin: 0;
}

#enregistrement .enregistrement .bouton.stopper {
	color: #001d1d;
    animation: couleur ease-in 2s infinite;
}

#enregistrement .enregistrement .bouton:first-child {
	margin-right: 25px;
}

#visualisation {
	margin-bottom: 20px;
}

#modale-enregistrement .conteneur .bouton.gris {
	color: #001d1d;
	background: #ccc;
}

#modale-enregistrement .conteneur .bouton.gris:hover {
	color: #fff;
	background: #555;
}

@keyframes couleur {
    0% {
		background: #fff;
	}
    50% {
		background: #ff1f1f;
	}
    100% {
		background: #fff;
	}
}

.conteneur-modale.score .conteneur {
	text-align: center;
}

@media screen and (max-width: 359px) {
	#contenu {
		padding: 4em 1em 2em;
	}

	#actions .bouton {
		font-size: 0.75em!important;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	#contenu {
		padding: 5em 1em 2.5em;
	}
}

@media screen and (max-width: 399px) {
	#conteneur h1 span {
		display: block;
	}

	#enregistrement .enregistrement .duree {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}
}

@media screen and (max-width: 599px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#actions .bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}

	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}

	#modale-enregistrement .actions.enregistrement-audio .bouton {
		width: 100%;
		margin-right: 0;
	}

	#modale-enregistrement .actions.enregistrement-audio .bouton:first-child {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 599px) and (orientation: landscape) {
	#contenu {
		padding: 2em 1em 1.5em!important;
	}
}

@media screen and (min-width: 600px) and (max-width: 820px) and (orientation: landscape) {
	#contenu {
		padding: 3em 1em 1.5em!important;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#conteneur p {
		font-size: 1em!important;
	}
	
	#credits p {
		font-size: 0.85em!important;
		margin-bottom: 0.85em!important;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#contenu {
		padding: 7em 1em 3.5em;
	}
}

@media screen and (max-width: 767px) {
	#langues {
		top: 9px;
		right: 4px;
	}

	#langues span {
		font-size: 12px;
		width: 27px;
		height: 27px;
		margin-right: 9px;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#actions .bouton {
		font-size: 0.85em!important;
	}
	
	#credits p {
		font-size: 0.85em;
	}
}
</style>
