<template>
	<div id="page">
		<header v-if="!integration">
			<div id="conteneur-header">
				<div class="conteneur">
					<a :href="definirRacine()">
						<span id="logo"></span>
						<span id="titre">Digirecord by La Digitale</span>
					</a>
				</div>
				<div class="conteneur">
					<span id="partager" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('partager')" @click="afficherMenuPartager" @keydown.enter="afficherMenuPartager"><i class="material-icons">share</i></span>
					<span id="parametres" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('parametres')" @click="ouvrirModaleParametres" @keydown.enter="ouvrirModaleParametres" v-if="admin"><i class="material-icons">settings</i></span>
					<span id="parametres" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" :title="$t('seConnecter')" @click="ouvrirModaleConnexion" @keydown.enter="ouvrirModaleConnexion" v-else><i class="material-icons">lock_open</i></span>
				</div>
			</div>
		</header>
		<div id="conteneur" :class="{'integration': integration}">
			<article id="audio">
				<h1>{{ titre }}</h1>
				<audio controls playsinline v-if="fichier !== ''"><source :src="definirRacine() + 'fichiers/' + fichier"></audio>
				<div class="telecharger">
					<a class="bouton" :href="definirRacine() + 'fichiers/' + fichier" download target="_blank" v-if="!integration">{{ $t('telecharger') }}</a>
				</div>
			</article>
		</div>

		<div id="menu-partager" v-if="menu === 'partager'" :style="{'left': position + 'px'}">
			<div id="conteneur-partager">
				<label>{{ $t('lienEtCodeQR') }}</label>
				<div id="copier-lien" class="copier">
					<input type="text" disabled :value="definirRacine() + '#/r/' + id">
					<span class="icone lien" role="button" :tabindex="menu === '' ? -1 : 0" :title="$t('copierLien')" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
					<span class="icone codeqr" role="button" :tabindex="menu === '' ? -1 : 0" :title="$t('afficherCodeQR')" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
				</div>
				<label>{{ $t('codeIntegration') }}</label>
				<div id="copier-iframe" class="copier">
					<input type="text" disabled :value="'<iframe src=&quot;' + definirRacine() + '#/r/' + id + '&quot; frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;200&quot;></iframe>'">
					<span class="icone" role="button" :tabindex="menu === '' ? -1 : 0" :title="$t('copierCode')" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'connexion'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('connexion') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'de'}" @click="modifierLangue('de')" @keydown.enter="modifierLangue('de')">DE</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<label for="question-secrete">{{ $t('questionSecrete') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecrete') }}</label>
						<input id="reponse-secrete" type="password" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="debloquer">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="debloquer" @keydown.enter="debloquer">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'parametres' || modale === 'modifier-titre' || modale === 'modifier-acces' || modale === 'suppression'">
			<div id="modale-parametres" class="modale" role="dialog" v-if="modale === 'parametres'">
				<header>
					<span class="titre">{{ $t('parametres') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'de'}" @click="modifierLangue('de')" @keydown.enter="modifierLangue('de')">DE</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<span class="vues"><b>{{ $t('nombreVues') }}</b> {{ vues }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleTitre" @keydown.enter="ouvrirModaleTitre" v-if="!digidrive">{{ $t('modifierTitreAudio') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleAcces" @keydown.enter="ouvrirModaleAcces" v-if="!digidrive">{{ $t('modifierAccesAudio') }}</span>
						<span class="bouton large rouge" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="afficherSupprimer" @keydown.enter="afficherSupprimer" v-if="!digidrive">{{ $t('supprimerAudio') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="terminerSession" @keydown.enter="terminerSession">{{ $t('terminerSession') }}</span>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-titre'">
				<header>
					<span class="titre">{{ $t('modifierTitreAudio') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleTitre" @keydown.enter="fermerModaleTitre"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="nouveau-titre">{{ $t('nouveauTitre') }}</label>
						<input id="nouveau-titre" type="text" :value="nouveautitre" @input="nouveautitre = $event.target.value" @keydown.enter="modifierTitre">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierTitre" @keydown.enter="modifierTitre">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-acces'">
				<header>
					<span class="titre">{{ $t('modifierAccesAudio') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleAcces" @keydown.enter="fermerModaleAcces"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">{{ $t('questionSecreteActuelle') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecreteActuelle') }}</label>
						<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
						<label for="nouvelle-question-secrete">{{ $t('nouvelleQuestionSecrete') }}</label>
						<select id="nouvelle-question-secrete" :value="nouvellequestion" @change="nouvellequestion = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="nouvelle-reponse-secrete">{{ $t('nouvelleReponseSecrete') }}</label>
						<input id="nouvelle-reponse-secrete" type="text" :value="nouvellereponse" @input="nouvellereponse = $event.target.value" @keydown.enter="modifierAcces">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierAcces" @keydown.enter="modifierAcces">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale confirmation" role="dialog" v-else-if="modale === 'suppression'">
				<div class="conteneur">
					<div class="contenu">
						<p v-html="$t('confirmationSupprimer')" />
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('non') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimer" @keydown.enter="supprimer">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'code-qr'">
			<div id="codeqr" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('codeQR') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="qr" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ClipboardJS from 'clipboard'

export default {
	name: 'Lecteur-Digirecord',
	data () {
		return {
			modale: '',
			menu: '',
			id: '',
			titre: '',
			fichier: '',
			admin: false,
			question: '',
			questions: ['motPrefere', 'filmPrefere', 'chansonPreferee', 'prenomMere', 'prenomPere', 'nomRue', 'nomEmployeur', 'nomAnimal'],
			reponse: '',
			nouveautitre: '',
			nouvellequestion: '',
			nouvellereponse: '',
			vues: 0,
			elementPrecedent: null,
			codeqr: '',
			position: 0,
			integration: false,
			digidrive: false
		}
	},
	watch: {
		modale: function (valeur) {
			if (valeur !== '') {
				this.menu = ''
			}
		}
	},
	created () {
		this.id = this.$route.params.id
		const question = this.$route.query.q
		const reponse = this.$route.query.r
		if (question && question !== '' && reponse && reponse !== '') {
			const xhreq = new XMLHttpRequest()
			xhreq.onload = function () {
				if (xhreq.readyState === xhreq.DONE && xhreq.status === 200 && xhreq.responseText === 'audio_debloque') {
					this.admin = true
					this.digidrive = true
				}
				window.history.replaceState({}, document.title, window.location.href.split('?')[0])
			}.bind(this)
			xhreq.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_audio.php', true)
			xhreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhreq.send('audio=' + this.id + '&question=' + window.atob(question) + '&reponse=' + window.atob(reponse) + '&type=api')
		}
		const xhr = new XMLHttpRequest()
		xhr.onload = function () {
			if (xhr.readyState === xhr.DONE && xhr.status === 200) {
				if (xhr.responseText === 'contenu_inexistant' || xhr.responseText === '' || this.verifierJSON(xhr.responseText) === false) {
					this.$router.push('/')
					return false
				} else if (xhr.responseText === 'erreur') {
					this.$parent.$parent.chargement = false
					this.$parent.$parent.message = this.$t('erreurServeur')
					return false
				}
				const donnees = JSON.parse(xhr.responseText)
				if (donnees.fichier === null) {
					this.$router.push('/')
					return false
				}
				this.titre = donnees.nom
				this.fichier = donnees.fichier
				this.vues = donnees.vues
				this.admin = donnees.admin
				this.digidrive = Boolean(donnees.digidrive)
				setTimeout(function () {
					document.title = this.titre + ' - Digirecord by La Digitale'
					this.$parent.$parent.chargement = false
				}.bind(this), 300)
			} else {
				this.$parent.$parent.chargement = false
				this.$parent.$parent.message = this.$t('erreurServeur')
			}
		}.bind(this)
		xhr.open('POST', this.$parent.$parent.hote + 'inc/recuperer_audio.php', true)
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
		xhr.send('id=' + this.id)

		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digirecord_lang', langue)
		}
	},
	mounted () {
		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digirecord_lang')) {
			this.$parent.$parent.langue = localStorage.getItem('digirecord_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)

		const lien = this.definirRacine() + '#/r/' + this.id
		const clipboardLien = new ClipboardJS('#copier-lien .lien', {
			text: function () {
				return lien
			}
		})
		clipboardLien.on('success', function () {
			document.querySelector('#copier-lien .lien').focus()
			this.$parent.$parent.notification = this.$t('lienCopie')
		}.bind(this))
		const iframe = '<iframe src="' + this.definirRacine() + '#/r/' + this.id + '" frameborder="0" width="100%" height="200"></iframe>'
		const clipboardIframe = new ClipboardJS('#copier-iframe span', {
			text: function () {
				return iframe
			}
		})
		clipboardIframe.on('success', function () {
			document.querySelector('#copier-iframe span').focus()
			this.$parent.$parent.notification = this.$t('codeCopie')
		}.bind(this))

		document.addEventListener('click', function (event) {
			const partager = document.querySelector('#partager')
			const menuPartager = document.querySelector('#menu-partager')
			if (partager && menuPartager && event.target !== partager && event.target !== menuPartager && !partager.contains(event.target) && !menuPartager.contains(event.target)) {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this))

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.menu === 'partager') {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this), false)

		if (window !== window.parent) {
			this.integration = true
		}
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.split('#')[0]
		},
		verifierJSON (json) {
			try {
				JSON.parse(json)
				return true
			} catch {
				return false
			}
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digirecord_lang', langue)
		},
		afficherMenuPartager (event) {
			this.elementPrecedent = (document.activeElement || document.body)
			this.menu = 'partager'
			this.$nextTick(function () {
				const largeurBouton = event.target.getBoundingClientRect().width
				const largeurMenu = document.querySelector('#menu-partager').getBoundingClientRect().width
				this.position = event.target.getBoundingClientRect().left - ((largeurMenu * 90) / 100 - largeurBouton / 2)
				document.querySelector('#menu-partager span').focus()
			}.bind(this))
		},
		copierLien () {
			document.querySelector('#copier-lien .lien').click()
		},
		copierIframe () {
			document.querySelector('#copier-iframe span').click()
		},
		afficherCodeQR () {
			this.modale = 'code-qr'
			this.$nextTick(function () {
				const lien = this.definirRacine() + '#/r/' + this.id
				// eslint-disable-next-line
				this.codeqr = new QRCode('qr', {
					text: lien,
					width: 360,
					height: 360,
					colorDark: '#000000',
					colorLight: '#ffffff',
					// eslint-disable-next-line
					correctLevel : QRCode.CorrectLevel.H
				})
				document.querySelector('.modale .fermer').focus()
			}.bind(this))
		},
		ouvrirModaleParametres () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'parametres'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModale () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		ouvrirModaleTitre () {
			this.nouveautitre = this.titre
			this.modale = 'modifier-titre'
			this.$nextTick(function () {
				document.querySelector('.modale input').focus()
			})
		},
		fermerModaleTitre () {
			this.modale = ''
			this.nouveautitre = ''
			this.gererFocus()
		},
		modifierTitre () {
			if (this.nouveautitre !== '' && this.titre !== this.nouveautitre) {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
							this.fermerModaleTitre()
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
							this.fermerModaleTitre()
						} else if (xhr.responseText === 'titre_modifie') {
							this.titre = this.nouveautitre
							this.$parent.$parent.notification = this.$t('titreModifie')
							document.title = this.titre + ' - Digirecord by La Digitale'
							this.fermerModaleTitre()
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleTitre()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_titre_audio.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('id=' + this.id + '&nouveautitre=' + this.nouveautitre)
			} else if (this.nouveautitre === '') {
				this.$parent.$parent.message = this.$t('remplirChampNouveauTitre')
			}
		},
		ouvrirModaleAcces () {
			this.modale = 'modifier-acces'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleAcces () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		modifierAcces () {
			if (this.question !== '' && this.reponse !== '' && this.nouvellequestion !== '' && this.nouvellereponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleAcces()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digirecord by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'acces_modifie') {
							this.$parent.$parent.notification = this.$t('accesModifie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleAcces()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_acces_audio.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('id=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&nouvellequestion=' + this.nouvellequestion + '&nouvellereponse=' + this.nouvellereponse)
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecreteActuelle')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('indiquerReponseSecreteActuelle')
			} else if (this.nouvellequestion === '') {
				this.$parent.$parent.message = this.$t('selectionnerNouvelleQuestionSecrete')
			} else if (this.nouvellereponse === '') {
				this.$parent.$parent.message = this.$t('indiquerNouvelleReponseSecrete')
			}
		},
		ouvrirModaleConnexion () {
			this.modale = 'connexion'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleConnexion () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		debloquer () {
			if (this.question !== '' && this.reponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digirecord by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'audio_debloque') {
							this.admin = true
							this.$parent.$parent.notification = this.$t('connexionReussie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_audio.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('audio=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&type=utilisateur')
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecrete')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('remplirReponseSecrete')
			}
		},
		afficherSupprimer () {
			if (this.admin || (this.question !== '' && this.reponse !== '')) {
				this.modale = 'suppression'
				this.$nextTick(function () {
					document.querySelector('.modale .bouton').focus()
				})
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecrete')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('remplirReponseSecrete')
			}
		},
		supprimer () {
			this.modale = ''
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					if (xhr.responseText === 'erreur') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					} else if (xhr.responseText === 'non_autorise') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('actionNonAutorisee')
					} else if (xhr.responseText === 'audio_supprime' || xhr.responseText === 'contenu_inexistant') {
						document.title = 'Digirecord by La Digitale'
						this.$router.push('/')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModale()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/supprimer_audio.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('id=' + this.id + '&fichier=' + this.fichier)
		},
		terminerSession () {
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					this.$parent.$parent.chargement = false
					if (xhr.responseText === 'session_terminee') {
						this.fermerModale()
						this.admin = false
						this.$parent.$parent.notification = this.$t('sessionTerminee')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModale()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/terminer_session_audio.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('id=' + this.id)
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && (this.modale === 'connexion' || this.modale === 'parametres')) {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.modale === 'modifier-titre') {
				this.fermerModaleTitre()
			} else if (event.key === 'Escape' && this.modale === 'modifier-acces') {
				this.fermerModaleAcces()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.modale = ''
				this.gererFocus()
			} else if (event.key === 'Escape' && this.menu !== '') {
				this.menu = ''
				this.gererFocus()
			}
		}
	}
}
</script>

<style scoped>
#page {
	width: 100%;
	background: #fff;
}

#page > header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
    background: #fff;
    color: #001d1d;
	z-index: 100;
	user-select: none;
}

#logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
	margin: 8px 0;
	vertical-align: middle;
}

#titre {
	font-family: 'Mona Sans', sans-serif;
	font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
	margin-left: 20px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#conteneur {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

#conteneur.integration {
	margin-top: 25px;
	margin-bottom: 0;
}

#conteneur-header {
    display: flex;
	justify-content: space-between;
}

#conteneur-header .conteneur a,
#conteneur-header .conteneur {
	display: flex;
	align-items: center;
}

#conteneur-header .conteneur a {
	width: 100%;
}

#parametres,
#partager {
	width: 24px;
	font-size: 24px;
	cursor: pointer;
}

#parametres i,
#partager i {
	width: 24px;
	font-size: 24px;
}

#parametres {
	margin-left: 16px;
}

#conteneur-header,
#audio {
    padding: 0 20px;
    margin: auto;
    width: 100%;
	max-width: 1024px;
}

#audio {
	font-size: 0;
}

#audio audio {
	margin-bottom: 25px;
}

#audio h1 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 2px solid #00ced1;
}

#audio .telecharger {
	text-align: right;
}

.copier {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copier input {
	display: block;
	width: calc(100% - 34px);
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	text-align: left;
	margin-right: 10px;
}

#copier-lien {
	margin-bottom: 20px;
}

#copier-lien input {
	width: calc(100% - 68px);
}

#copier-lien span:last-child {
	margin-left: 10px;
}

.copier span i {
	font-size: 24px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.copier span i:active {
	opacity: 0.8;
}

#menu-partager {
	position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	top: 54px;
	width: 300px;
}
	
#menu-partager:after {
	border: solid #ddd;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	border-width: 0 1px 1px 0;
	transform: translate(-7px, -8px) rotate(-135deg);
	background: #fff;
    left: 90%;
    width: 14px;
    height: 14px;
}

#menu-partager label {
	display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
}

.modale .bouton.large {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.modale .bouton.large:last-child {
	margin-bottom: 0;
}

.modale .bouton.rouge {
	color: #fff;
	background: #ff6259;
}

.modale .bouton.rouge:hover {
	background: #d70b00;
}

.modale .langue {
	margin-bottom: 20px;
}

.modale .langue span {
	display: inline-flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
}

.modale .langue span.selectionne {
	background: #444;
	color: #fff;
	border: 1px solid #222;
}

.modale .langue span:last-child {
	margin-right: 0;
}

.modale.confirmation .conteneur {
	text-align: center;
	padding: 30px 25px;
	max-width: 500px;
}

#modale-parametres .contenu {
	font-size: 0;
}

#modale-parametres .vues {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
}

@media screen and (max-width: 599px) {
	#audio h1 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	#audio audio {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 767px) {
	.modale .langue span {
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-right: 9px;
	}
}

@media screen and (min-width: 768px) {
	#conteneur-header,
	#audio {
		width: 750px;
	}
}

@media screen and (min-width: 992px) {
	#conteneur-header,
	#audio {
		width: 970px;
	}
}

@media screen and (min-width: 1200px) {
	#conteneur-header,
	#audio {
		width: 1170px;
	}
}

#codeqr.modale {
	max-width: 400px;
}

#codeqr.modale .contenu {
	text-align: center;
	font-size: 0;
}

@media screen and (max-width: 359px) {
	#titre {
		font-size: 16px;
		margin-left: 12px;
	}

	#conteneur-header .conteneur:first-child {
		width: calc(100% - 72px);
	}
}

@media screen and (min-width: 360px) and (max-width: 399px) {
	#titre {
		font-size: 17px;
		margin-left: 12px;
	}

	#conteneur-header .conteneur:first-child {
		width: calc(100% - 72px);
	}
}
</style>

<style>
#codeqr.modale #qr {
	display: inline-block;
}

#codeqr.modale #qr img {
	max-width: 100%;
	height: auto;
	max-height: 60vh;
}
</style>
